.clr{clear: both;}
.wrapper{
    width: 960px;
    height: 1100px;
    background: #44a;
    margin: 0 auto;
}

.main-head{
    width: 940px;
    height: 200px;
    position: relative;
    top: 10px;
    background: #f2a;
    margin: 0 auto;
}

.main-head div.main-menu{
    width: 340px;
    height: 100px;
    float: right;
    position: relative;
    right: 10px;
    top: 50px;
    background: #2a1;
}

#logo{
        width: 100px;
        height: 100px;

        background: #2d4;

        position: relative;
        top: 50px;
        left: 50px;
}

.breadcrumbs{
    width: 940px;
    height: 50px;
    position: relative;
    top: 20px;
    background: #e1a;
    margin: 0 auto;
}

.content{
    width: 960px;
    height: 500px;

    background: #2ee;
    position: relative;
    top: 30px;
    margin: 0 auto;
}

.content .main{
    width: 540px;
    height: 400px;
    background: #6f1;
    position: relative;
    top: 30px;
    left: 20px;
}

aside.right{
    width: 360px;
    height: 400px;

    background: #4a1;
    position: relative;
    float: right;
    right: 20px;
    top: -370px;
  
}

footer{
    width: 960px;
    height: 300px;
    
    background: #4ac;
    position: relative;
    bottom: -50px;
}